.main {
    margin-bottom: var(--xxxxl);
}

.main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--xl);
    position: relative;
}

.main__header {
    text-align: center;
    width: 100%;
    user-select: none;
}

.main__title {
    font-weight: var(--bold);
    color: var(--color);
    font-size: var(--font-xxl);
    letter-spacing: -0.16rem;
    font-family: var(--manrope);
}

.main__title .icon {
    font-size: 2rem;
    font-weight: 100;
}

.main__subtitle {
    font-size: var(--font-s);
    opacity: 0.4;
}



/* media query */
@media (max-width: 480px) {
    
    .main__subtitle {
        padding-inline: var(--xs);
    }

}
