.app {
    width: 100%;
    min-height: 100svh;
    /* border: 2px dashed coral; */
    display: flex;
    justify-content: center;
}

.app__content {
    min-height: 100%;
    width: var(--content-width);
    /* border: 2px dashed coral; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--xxxxl);
}