.app {
    width: 100%;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.app__content {
    min-height: 100%;
    width: var(--content-width);
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    gap: var(--xxxxl);
}



/* media query */
@media (max-width: 1080px) {
    
    .app__content {    
        padding-inline: var(--s);
    }
    
}

@media (max-width: 480px) {
    
    .app__content {    
        padding-inline: var(--xxxs);
    }

}