.app {
    width: 100%;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    /* border: 1px dashed coral; */
}

.app__content {
    min-height: 100%;
    width: var(--content-width);
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: var(--xxxxl);
    /* border: 1px dashed coral; */
}