.settings {
    position: fixed;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%, 20%);
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(93, 94, 99, 0.37);
    backdrop-filter: blur(10px);
    border: 0.01rem solid rgba(218, 166, 166, 0.18);
    opacity: 0;
    pointer-events: none;
    border-radius: var(--m);
    font-size: var(--font-s);
    padding: var(--xxs);
    display: flex;
    flex-direction: column;
    gap: var(--s);
    transition: 0.3s 0.1s ease-out;
    font-family: var(--manrope);
    z-index: 2;
}

.settings__open {
    font-size: var(--font-xl);
    font-weight: var(--lighter);
    position: fixed;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%, 20%);
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 62px 12px rgba(93, 94, 99, 0.799);
    backdrop-filter: blur(6px);
    width: 2rem;
    aspect-ratio: 1;
    border-radius: var(--xs);
    border: 0.01rem solid rgba(218, 166, 166, 0.18);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s 0.1s ease-out, filter 0.2s ease-out;
    z-index: 2;
}

.settings.active,
.settings__open.active {
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%, 0);
}

.settings__open.active {
    opacity: 0.8;
}

.settings__open:hover {
    filter: brightness(1.4);
}

.settings__header {
    display: flex;
    justify-content: space-between;
}

.settings__header:not(:nth-last-of-type(3)) {
    padding-top: var(--xxxs);
    border-top: 0.01rem solid rgba(166, 149, 149, 0.25);
}

.settings__close {
    display: flex;
    font-size: var(--font-xs);
    transition: 0.3s;
}

.settings__close:hover {
    opacity: 0.4;
}

.settings__title {
    opacity: 0.6;
}

.settings__options {
    display: flex;
    gap: var(--l);
    min-width: 16rem;
}

.settings__button {
    flex: 1;
    display: flex;
    align-items: center;
    gap: var(--xxxs);
    position: relative;
}

.settings__button .icon {
    width: 1.8rem;
    aspect-ratio: 1;
    border-radius: var(--xs);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: var(--bg-1);
    background-color: var(--color);
    border: 0.1rem solid rgba(255, 255, 255, 0.18 );
    box-shadow: 0 8px 32px 0 rgba(93, 94, 99, 0.37);
}

.settings__button .dot {
    position: absolute;
    top: -4%;
    left: 0%;
    transform: translate(-50%, -50%);
    width: 0.3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: coral;
    opacity: 0;
    transition: 0.3s;
}

.settings__button:hover .dot,
.settings__button.active .dot {
    opacity: 1;
}



/* media query */
@media (max-width: 320px) {
    
    .settings {    
        width: 98%;
    }

    .settings__options {
        flex-direction: column;
    }

    .settings .line {
        border-top: 0.01rem solid var(--color);
        flex: 1;
    }
    
}